
<img src="assets/images/logo.png"/>
<button type="button" class="btn btn-home">Home</button>
<button type="button" class="btn">About us</button>
<button type="button" class="btn">Programmes</button>
<button type="button" class="btn">Tenders</button>
<button type="button" class="btn">Publications</button>
<button type="button" class="btn">Careers</button>
<button type="button" class="btn">Contact Us</button>
<i class="fa fa-search"></i>
<div id="demo" class="carousel slide" data-ride="carousel">

    
  <div class="row">
    <div class="col-sm-3 text st1" style="background-color:rgb(66, 66, 252);">Events</div>
    <div class="col-sm-5 text" style="background-color:rgb(58, 238, 58);">Flagship Programmes</div>
    <div class="col-sm-3 text" style="background-color:rgb(66, 66, 252);">What's New</div>
  </div>
  <div class="row">
    <div class="col-sm-3 event" style="background-color:rgb(191, 191, 214);"></div>
    <div class="col-sm-2" style="border:2px solid rgb(15, 199, 15);"></div>
    <div class="col-sm-2" style="border:2px solid rgb(15, 199, 15);"></div>
    <div class="col-sm-3 event" style="background-color:rgb(191, 191, 214);"></div>
  </div>

  <p class="a" style="border: 2px solid blue;">Events</p>
  <span><p class="b" style="border: 2px solid green;">Flagship Programmes</p></span>
  <span><p class="a" style="border: 2px solid blue;">What's New</p></span>