.btn{
    border: 1px solid white;
    background-color: rgb(23, 214, 23);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
};
.btn-home{
    margin-left: 200px;
};
i{
    margin-left: 50px;
};
.text{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: solid white;
    text-align: center;
    height: 40px;
    padding: 3px;
};
.row{
    margin-left: 100px;
    margin-right: 100px;
}
.col-sm-5{
    margin-inline: 10px;
}
.event{
    height:300px;
    border: 2px solid white;
}
.col-sm-2{
    margin-inline: 30px;
}

.a{
    background-color: blue;
    text-align: center;
    color: white;
    padding:2px;
    width:200px;
}
.b{
    background-color: green;
    text-align: center;
    color: white;
    padding:2px;
    width:400px;
}