<!-- <p>new works!</p>
<canvas id="myCanvas" width="200" height="100"  style="border:1px solid #d3d3d3;"></canvas><br>
<canvas id="myCanvas1" width="200" height="100"  style="border:1px solid #d3d3d3;"></canvas>
<style>.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
</style> -->
<div>
<div class="first">
<h1>Profile</h1>
<h2>Rahul Goyal</h2>
<span><img src="assets/images/WhatsApp.jpeg" height="120px"  width="100px;"/></span>
<p><i><u>This is my profile for job applications</u></i></p>
<h3><b>Education Details:</b></h3>
<table>
    <thead>
        <th><b>Class</b></th>
        <th><b>Pssing year</b></th>
        <th><b>Percentage</b></th>
    </thead>
    <tr>
        <td>Secondary</td>
        <td>2006</td>
        <td>82%</td>
    </tr>
    <tr>
        <td>Senior Secondary</td>
        <td>2008</td>
        <td>68%</td>
    </tr>
    <tr>
        <td>B.tech</td>
        <td>2012</td>
        <td>68%</td>
    </tr>
</table>

<label for="tel" class="te">Telephone no.</label>        &nbsp;
<label for="ml" class="m">Email ID</label><br>
<input type="number" id="tel"/>     &nbsp;
<input type="mail" id="ml"/><br>
<p>Skills:</p>
<span> Javascript </span>
<span> HTML5 </span>
<span> CSS3 </span>
<span> Visual Studio Code </span>
<p><b><a href="https://www.linkedin.com/in/rahul-goyal-68280571/" target="-blank">Linkedin Profile</a></b></p>
</div>
<div class="second">
<h1 class="nb">My Notebook:</h1>
<p class="story">A short story is a piece of prose fiction that typically can be read in one sitting and focuses on a self-contained incident or series of linked incidents, with the intent of evoking a single effect or mood. The short story is one of the oldest types of literature and has existed in the form of legends, mythic tales, folk tales, fairy tales, fables and anecdotes in various ancient communities across the world. The modern short story developed in the early 19th century.</p>
</div>
</div>

<!-- <h1>Calculator</h1>
<input type="number" id="Calculator" readonly /><br>
<tr>
    <td><button name="1" type="submit" value="1" (click)="onClick('1')">1</button></td>
    <td><button name="2" type="submit" value="2" (click)="onClick('2')">2</button></td>
    <td><button name="3" type="submit" value="3" (click)="onClick('3')">3</button></td>
    <td><button name="+" type="submit" value="+" (click)="onClick('+')">+</button></td>
</tr>
<tr>
    <td><button name="4" type="submit" value="4" (click)="onClick('4')">4</button></td>
    <td><button name="5" type="submit" value="5" (click)="onClick('5')">5</button></td>
    <td><button name="6" type="submit" value="6" (click)="onClick('6')">6</button></td>
    <td><button name="-" type="submit" value="-" (click)="onClick('-')">-</button></td>
</tr>
<tr>
    <td><button name="7" type="submit" value="7" (click)="onClick('7')">7</button></td>
    <td><button name="8" type="submit" value="8" (click)="onClick('8')">8</button></td>
    <td><button name="9" type="submit" value="9" (click)="onClick('9')">9</button></td>
    <td><button name="*" type="submit" value="*" (click)="onClick('*')">*</button></td>
</tr>
<tr>
    <td><button name="0" type="submit" value="0" (click)="onClick('0')">0</button></td>
    <td><button name="/" type="submit" value="/" (click)="onClick('/')">/</button></td>
    <td><button name="=" type="submit" value="=" (click)="onClick('=')">=</button></td>
    <td><button name="C" type="submit" value="C" (click)="onClick('C')">C</button></td>
</tr> -->
